<div class="row">
    <div class="carritoFondo col-6"></div>
    <div class="col-6">
        <div class="row">
            <h4>El carro {{carroSeleccionado.tipo}} fue seleccionado para su siguiente compra</h4>
            <div *ngIf="listaProductosSeleccionados.length>0" class="row productoTitulo">
                <div class="col-4">Nombre</div>
                <div class="col-4">Valor</div>
                <div class="col-4">Cantidad</div>
            </div>
            <div class="row productoLista" *ngFor="let producto of listaProductosSeleccionados">
                <div class="col-4">{{producto.nombre}}</div>
                <div class="col-4">{{producto.valor}}</div>
                <div class="col-2">{{producto.cantidad}}</div>
                <div class="col-2">
                    <button type="button" class="btn btn-danger" (click)="eliminarProducto(producto)">Eliminar</button>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-info" (click)="consultarTotal()">Consultar Total</button>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
    <div class="col-6">
        <h4>Lista de productos disponibles</h4>
        <div class="row productoTitulo">
            <div class="col-4">Nombre</div>
            <div class="col-4">Valor</div>
            <div class="col-4">Comprar</div>
        </div>
        <div class="row productoLista" *ngFor="let producto of listaProductos">
            <div class="col-4">{{producto.nombre}}</div>
            <div class="col-4">{{producto.valor}}</div>
            <div class="col-4">
                <button type="button" class="btn btn-primary" (click)="agregarProducto(producto)">Agregar</button>
            </div>
        </div>
    </div>
</div>